<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WifiMetry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>441EC87C1CAC99D100580174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>441EC8981CAC99D100580174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>441EC8A31CAC99D100580174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
